[submodule "vim-plugins/vim-rails"]
	path = vim-plugins/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim-plugins/vim-fugitive"]
	path = vim-plugins/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-plugins/vim-rvm"]
	path = vim-plugins/vim-rvm
	url = https://github.com/tpope/vim-rvm.git
[submodule "vim-plugins/vim-surround"]
	path = vim-plugins/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim-plugins/ruby-matchit"]
	path = vim-plugins/ruby-matchit
	url = https://github.com/vim-scripts/ruby-matchit.git
[submodule "vim-plugins/taglist.vim.git"]
	path = vim-plugins/taglist.vim.git
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim-plugins/netrw.vim.git"]
	path = vim-plugins/netrw.vim.git
	url = https://github.com/vim-scripts/netrw.vim.git
[submodule "vim-plugins/vim-easymotion.git"]
	path = vim-plugins/vim-easymotion.git
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim-plugins/nerdtree.git"]
	path = vim-plugins/nerdtree.git
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim-plugins/vim-coffee-script.git"]
	path = vim-plugins/vim-coffee-script.git
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim-plugins/Align.git"]
	path = vim-plugins/Align.git
	url = https://github.com/vim-scripts/Align.git
[submodule "vim-plugins/bufexplorer.git"]
	path = vim-plugins/bufexplorer.git
	url = https://github.com/c9s/bufexplorer.git
[submodule "vim-plugins/Rename.git"]
	path = vim-plugins/Rename.git
	url = https://github.com/vim-scripts/Rename.git
[submodule "vim-plugins/vimux.git"]
	path = vim-plugins/vimux.git
	url = https://github.com/vim-scripts/vimux.git
[submodule "vim-plugins/vim-repeat.git"]
	path = vim-plugins/vim-repeat.git
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim-plugins/undotree.git"]
	path = vim-plugins/undotree.git
	url = https://github.com/mbbill/undotree.git
[submodule "vim-plugins/vim-ruby.git"]
	path = vim-plugins/vim-ruby.git
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim-plugins/vis.git"]
	path = vim-plugins/vis.git
	url = https://github.com/vim-scripts/vis.git
[submodule "vim-plugins/Decho.git"]
	path = vim-plugins/Decho.git
	url = https://github.com/vim-scripts/Decho.git
[submodule "vim-plugins/Simplecov-Vim.git"]
	path = vim-plugins/Simplecov-Vim.git
	url = https://github.com/nyarly/Simplecov-Vim.git
[submodule "vim-plugins/vim-markdown.git"]
	path = vim-plugins/vim-markdown.git
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim-plugins/vim-slim.git"]
	path = vim-plugins/vim-slim.git
	url = https://github.com/slim-template/vim-slim.git
[submodule "vim-plugins/vim-ansible-yaml.git"]
	path = vim-plugins/vim-ansible-yaml.git
	url = https://github.com/chase/vim-ansible-yaml.git
[submodule "vim-plugins/vim-textobj-rubyblock.git"]
	path = vim-plugins/vim-textobj-rubyblock.git
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "vim-plugins/vim-textobj-user.git"]
	path = vim-plugins/vim-textobj-user.git
	url = https://github.com/kana/vim-textobj-user.git
[submodule "vim-plugins/vim-blockle.git"]
	path = vim-plugins/vim-blockle.git
	url = https://github.com/jgdavey/vim-blockle.git
[submodule "vim-plugins/github-vim.git"]
	path = vim-plugins/github-vim.git
	url = https://github.com/solars/github-vim.git
[submodule "vim-plugins/vim-go"]
	path = vim-plugins/vim-go
	url = https://github.com/fatih/vim-go
