[submodule "vim-plugins/vim-rails"]
	path = vim-plugins/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim-plugins/vim-fugitive"]
	path = vim-plugins/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-plugins/vim-rvm"]
	path = vim-plugins/vim-rvm
	url = https://github.com/tpope/vim-rvm.git
[submodule "vim-plugins/vim-surround"]
	path = vim-plugins/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim-plugins/ruby-matchit"]
	path = vim-plugins/ruby-matchit
	url = https://github.com/vim-scripts/ruby-matchit.git
[submodule "vim-plugins/taglist.vim.git"]
	path = vim-plugins/taglist.vim.git
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim-plugins/netrw.vim.git"]
	path = vim-plugins/netrw.vim.git
	url = https://github.com/vim-scripts/netrw.vim.git
[submodule "vim-plugins/vim-easymotion.git"]
	path = vim-plugins/vim-easymotion.git
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim-plugins/nerdtree.git"]
	path = vim-plugins/nerdtree.git
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim-plugins/vim-coffee-script.git"]
	path = vim-plugins/vim-coffee-script.git
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim-plugins/Align.git"]
	path = vim-plugins/Align.git
	url = https://github.com/vim-scripts/Align.git
[submodule "vim-plugins/bufexplorer.git"]
	path = vim-plugins/bufexplorer.git
	url = https://github.com/c9s/bufexplorer.git
[submodule "vim-plugins/Rename.git"]
	path = vim-plugins/Rename.git
	url = https://github.com/vim-scripts/Rename.git
[submodule "vim-plugins/vimux.git"]
	path = vim-plugins/vimux.git
	url = https://github.com/vim-scripts/vimux.git
[submodule "vim-plugins/vim-repeat.git"]
	path = vim-plugins/vim-repeat.git
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim-plugins/undotree.git"]
	path = vim-plugins/undotree.git
	url = https://github.com/mbbill/undotree.git
[submodule "vim-plugins/vim-ruby.git"]
	path = vim-plugins/vim-ruby.git
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim-plugins/vis.git"]
	path = vim-plugins/vis.git
	url = https://github.com/vim-scripts/vis.git
[submodule "vim-plugins/Decho.git"]
	path = vim-plugins/Decho.git
	url = https://github.com/vim-scripts/Decho.git
[submodule "vim-plugins/Simplecov-Vim.git"]
	path = vim-plugins/Simplecov-Vim.git
	url = https://github.com/nyarly/Simplecov-Vim.git
[submodule "vim-plugins/vim-markdown.git"]
	path = vim-plugins/vim-markdown.git
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim-plugins/vim-slim.git"]
	path = vim-plugins/vim-slim.git
	url = https://github.com/slim-template/vim-slim.git
[submodule "vim-plugins/vim-ansible-yaml.git"]
	path = vim-plugins/vim-ansible-yaml.git
	url = https://github.com/chase/vim-ansible-yaml.git
[submodule "vim-plugins/vim-textobj-rubyblock.git"]
	path = vim-plugins/vim-textobj-rubyblock.git
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "vim-plugins/vim-textobj-user.git"]
	path = vim-plugins/vim-textobj-user.git
	url = https://github.com/kana/vim-textobj-user.git
[submodule "vim-plugins/vim-blockle.git"]
	path = vim-plugins/vim-blockle.git
	url = https://github.com/jgdavey/vim-blockle.git
[submodule "vim-plugins/github-vim.git"]
	path = vim-plugins/github-vim.git
	url = https://github.com/solars/github-vim.git
[submodule "vim-plugins/vim-jsx.git"]
	path = vim-plugins/vim-jsx.git
	url = https://github.com/mxw/vim-jsx.git
[submodule "vim-plugins/vim-javascript.git"]
	path = vim-plugins/vim-javascript.git
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim-plugins/vim-json.git"]
	path = vim-plugins/vim-json.git
	url = https://github.com/elzr/vim-json.git
[submodule "vim-plugins/vim-rhubarb.git"]
	path = vim-plugins/vim-rhubarb.git
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "vim-plugins/tagbar.git"]
	path = vim-plugins/tagbar.git
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim-plugins/vim-pathogen"]
	path = vim-plugins/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim-plugins/vim-bundler.git"]
	path = vim-plugins/vim-bundler.git
	url = https://github.com/tpope/vim-bundler.git
[submodule "vim-plugins/vim-sexp.git"]
	path = vim-plugins/vim-sexp.git
	url = https://github.com/guns/vim-sexp.git
[submodule "vim-plugins/vim-sexp-mappings-for-regular-people.git"]
	path = vim-plugins/vim-sexp-mappings-for-regular-people.git
	url = https://github.com/tpope/vim-sexp-mappings-for-regular-people.git
[submodule "vim-plugins/NrrwRgn"]
	path = vim-plugins/NrrwRgn
	url = https://github.com/chrisbra/NrrwRgn
[submodule "vim-plugins/vim-easy-align"]
	path = vim-plugins/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "vim-plugins/vim-abolish.git"]
	path = vim-plugins/vim-abolish.git
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim-plugins/vim-vinegar.git"]
	path = vim-plugins/vim-vinegar.git
	url = https://github.com/tpope/vim-vinegar.git
[submodule "vim-plugins/vim-hcl.git"]
	path = vim-plugins/vim-hcl.git
	url = https://github.com/jvirtanen/vim-hcl.git
[submodule "vim-plugins/vim-go.git"]
	path = vim-plugins/vim-go.git
	url = https://github.com/fatih/vim-go.git
[submodule "vim-plugins/BlockDiff"]
	path = vim-plugins/BlockDiff
	url = https://github.com/vim-scripts/BlockDiff
[submodule "vim-plugins/linediff.vim"]
	path = vim-plugins/linediff.vim
	url = https://github.com/AndrewRadev/linediff.vim
[submodule "vim-plugins/vim-gitgutter.git"]
	path = vim-plugins/vim-gitgutter.git
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim-plugins/ghcup.vim.git"]
	path = vim-plugins/ghcup.vim.git
	url = https://github.com/hasufell/ghcup.vim.git
[submodule "vim-plugins/fzf.vim"]
	path = vim-plugins/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim-plugins/conflict-marker.vim"]
	path = vim-plugins/conflict-marker.vim
	url = https://github.com/rhysd/conflict-marker.vim
[submodule "vim-plugins/diffchar.vim"]
	path = vim-plugins/diffchar.vim
	url = https://github.com/rickhowe/diffchar.vim
